
.DS_Store


*.jpeg
*.pdf

/paiza/*
*.md
*.txt
a.out
/topcoder
*.json
CF/round630/test.cpp
AtCoder/abc157/e2.dSYM/Contents/Resources/DWARF/e2
AtCoder/abc160/a
AtCoder/abc160/c
AtCoder/abc160/d
AtCoder/abc160/a.dSYM/Contents/Info.plist
AtCoder/abc160/a.dSYM/Contents/Resources/DWARF/a
AtCoder/abc160/c.dSYM/Contents/Info.plist
AtCoder/abc160/c.dSYM/Contents/Resources/DWARF/c
AtCoder/abc160/d.dSYM/Contents/Info.plist
AtCoder/abc160/d.dSYM/Contents/Resources/DWARF/d
AtCoder/abc157/e2.dSYM/Contents/Info.plist
AtCoder/abc157/e2
GoogleCode/GCJ2020/tempCodeRunnerFile.cpp
