
.DS_Store


*.jpeg
*.pdf

*/paiza/*
/paiza/*
*.md
*.txt
a.out
tempCodeRunnerFile.cpp
*.json
codeforces/round630/test.cpp
atcoder/abc157/e2.dSYM/Contents/Resources/DWARF/e2
atcoder/abc160/a
atcoder/abc160/c
atcoder/abc160/d
atcoder/abc160/a.dSYM/Contents/Info.plist
atcoder/abc160/a.dSYM/Contents/Resources/DWARF/a
atcoder/abc160/c.dSYM/Contents/Info.plist
atcoder/abc160/c.dSYM/Contents/Resources/DWARF/c
atcoder/abc160/d.dSYM/Contents/Info.plist
atcoder/abc160/d.dSYM/Contents/Resources/DWARF/d
atcoder/abc157/e2.dSYM/Contents/Info.plist
atcoder/abc157/e2
