
.DS_Store


*.jpeg
*.pdf

*/paiza/*
/paiza/*
*.md
*.txt
a.out
tempCodeRunnerFile.cpp
*.json
codeforces/round630/test.cpp
atcoder/abc157/e2.dSYM/Contents/Resources/DWARF/e2
atcoder/abc160/a
atcoder/abc160/c
atcoder/abc160/d
atcoder/abc160/a.dSYM/Contents/Info.plist
atcoder/abc160/a.dSYM/Contents/Resources/DWARF/a
atcoder/abc160/c.dSYM/Contents/Info.plist
atcoder/abc160/c.dSYM/Contents/Resources/DWARF/c
atcoder/abc160/d.dSYM/Contents/Info.plist
atcoder/abc160/d.dSYM/Contents/Resources/DWARF/d
atcoder/abc157/e2.dSYM/Contents/Info.plist
atcoder/abc157/e2
other/GoogleCode/GCJ2019/Round1B/a_xuzijian629.cpp
other/GoogleCode/GCJ2019/Round1B/b_degwer.cpp
other/GoogleCode/GCJ2019/Round1B/b_sunuke.cpp
other/GoogleCode/GCJ2019/Round1B/b_test.cpp
other/GoogleCode/GCJ2019/Round1B/b_yuji9511.cpp
other/topcoder/mm117/


*cmake-build-debug/
*.idea/
.idea
atcoder/atcoder_clion_project.py
codeforces/cf_clion_project.py
atcoder/abc164/e_catupper.cpp
atcoder/.DS_Store
atcoder/.DS_Store
atcoder/.DS_Store
tmp/*
